<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Zoo</h1>
    <ul>
        {% for category in categories %}
            <h1>{{category}}</h1>
            {% with category.animal_count as animal_count %}
            count: {{animal_count}}
            <li>
                <h2>Animals</h2>
                <ul>
                    {% for animal in category.animal_set.all %}
                    <li>
                       {{animal}}
                    </li>
                    {% endfor %}
                </ul>
                <h2>Food</h2>
                <ul>
                    {% for food in category.foods.all %}
                    <li>
                       {{food}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            count two: {{animal_count}}
            count three: {{animal_count}}
            {% endwith %}
        {% endfor %}
    </ul>
    всего: {{result_count}}
</body>
</html>